.main__image {
    background: linear-gradient(to bottom, white 39%, white 41%, rgba(0,0,0,0.65) 100%);
    height: 700px;
    background-size: 100%, cover;
    background-position: center, center;
    width: 100%;
    position: relative;
}

.description {
    position: absolute;
    max-width: 500px;
    bottom: 2rem;
    margin-left: 2rem;
}

.description h2 {
    color: white;
}

.description p {
    color: white;
    font-size: 1rem;
}